.cursosPresenciales-contenedor{
    width: 100%;
    max-width: 1500px;
    display:flex;
    flex-wrap: wrap ;
    justify-content:center;
    margin:auto;
}
.cursosPresenciales-contenedor .cursosP{
    width: 310px;
    height: 240px;
    margin: 15px;
    border-radius:8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    background: linear-gradient(to bottom right, rgb(0, 153, 255), rgb(5, 97, 42));
    color: white;
    margin: 20px auto;
    text-align: center;
    transition: all .25s;
}

.cursosVirtuales-contenedor .cursos img{
    margin-top: 38px;
    width: 100px;
}

